.square-box{
    width: 150px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    display: block;
    width: 20px;
    height: 20px;
    background: gray;
    margin: 1px;
}

.square-dark {
    display: block;
    width: 20px;
    height: 20px;
    background: black;
    margin: 1px;
}
