.victory-j {
    display: none;
}

.victory-k {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(71, 68, 68, 0.78);
}

.win-box {
    margin-top: 35%;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    font-style: oblique;
    color: red;
    background: blueviolet;
    border-radius: 10px;
}